body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background: linear-gradient(90deg, #00A3FF, #0057B8);
  padding: 20px;
  color: white;
}

nav a {
  color: white;
  margin-right: 20px;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding: 60px 20px;
}
